/* style.css */
*{
    box-sizing: border-box;
    margin-top: 25px;
    
    
}
body{
    background: #424650;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
    color: #DBA38B;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    height: 500px;
    background: #828591;
    box-shadow:10px 10px 5px; 
}

#inputField{
    border-radius: 30px;
    border-width: 0px;
    outline: none;
    width: 250px;
    height: 30px;
    font-size: 20px;
}

#addText{
    height: 30px;
    width: 50px;
    margin-left: 25px;
    border-radius: 30px;
    border-width: 0px;
    outline: none;
    color: #DBA38B;
    background-color: #CDD7E8;
}

.toDo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    position: absolute;
    bottom: 170px;
    width: 350px;
    height: 200px;
    margin-top: 25px;
    
}

.paragraph-style{
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    break-after: always;   
}