/* style.css */
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    /* background: gray; */
}

#inputField{
    border-radius: 30px;
    border-width: 1px;
    /* border-color: blue; */
    outline: none;
    width: 200px;
    height: 20px;
}